<%= form_for @ticket, html: { class: 'form-horzontal' } do |f| %>
  <div class="form-group">
    <%= f.label :subject, class: 'label-control' %>
    <%= f.text_field :subject, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :status, class: 'label-control' %>
    <%= f.select :status, Ticket.statuses.keys, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content, class: 'label-control' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
