<div class="container">
  <h3>Subject: <%= @ticket.subject %></h3>
  <hr/>
  <p><strong>
    Ticket# <%= @ticket.id %></strong>
     <%= link_to "<i class='fa fa-pencil-square-o'></i>".html_safe,
                            edit_ticket_path(@ticket) %>
  </p>
  <p><strong>Status:</strong> <%= @ticket.status %></p>
  <p>Technician: <%= @ticket.technician.email %></p>
  <p><strong>Content:</strong></p>
  <p class="well"><%= @ticket.content %></p>

  <hr/>

  <%= render 'ticket_messages/message' %>

  <% @ticket_messages.each do |message| %>
    <p><%= message.content %></p>
  <% end %>
</div>
